<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/users.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/register.css" />
    <link rel="stylesheet" href="/styles/font.min.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/users.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %><!-- NOT WORKIGN YET-->

    <div class="main">
      <!-- Sign up form -->
      <section class="signup">
        <div class="container">
          <div class="signup-content">
            <div class="signup-form">
              <h2 class="form-title">Register</h2>
              <form method="POST" class="register-form" id="register-form">
                <div class="form-group">
                  <label for="name"
                    ><i class="zmdi zmdi-account material-icons-name"></i
                  ></label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Your Name"
                  />
                </div>
                <div class="form-group">
                  <label for="email"><i class="zmdi zmdi-email"></i></label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                  />
                </div>
                <div class="form-group">
                  <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                  <input
                    type="password"
                    name="pass"
                    id="pass"
                    placeholder="Password"
                  />
                </div>

                <div class="form-group form-button">
                  <input
                    type="submit"
                    name="signup"
                    id="signup"
                    class="form-submit"
                    value="Register"
                  />
                </div>
              </form>
            </div>
            <div class="signup-image">
              <figure>
                <img
                  src="/img/images/map_leaflet_example.png"
                  alt="sing up image"
                />
              </figure>
              <a href="/users" class="signup-image-link">I am already registered</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>

  </body>
</html>
